{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Reset password through email.{% endblock %}

{% block content %}
    <h1>Reset your password through email.</h1>
    <p>Fill in your email to reset your password.</p>
    <form method="post">
        {{ form|crispy}}
        <p>Resend email verification <a href='{% url "users:resend_email" %}'>here.</a></p>
        <p><input type="submit" value="Reset" /></p>
        {% csrf_token %}
    </form>
{% endblock %}