@import url('http://fonts.cdnfonts.com/css/myriad-apple');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.hero-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: rgb(35, 35, 35);
}

nav {
  background-color: rgb(55, 55, 55);
  line-height: 75px;
  height: 75px;
  width: 100%;
  padding: 0px 80px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  line-height: 75px;
  margin: 0 5px;
}

nav ul li a {
  text-decoration: none;
  color: gray;
  padding: 7px 13px;
  border-radius: 3px;
  font-size: 17px;
}

a:hover {
  background-image: linear-gradient(rgb(0, 255, 255), rgb(51, 255, 51));
  transition: 0.5s;
}

.checkbtn {
  color: gray;
  font-size: 30px;
  cursor: pointer;
  float: right;
  display: none;
}

#check {
  display: none;
}

.form-group {
  width: 1115px;
  text-align: center;
  color: gray;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 990px) {
  nav {
    padding: 0px 50px;
    z-index: 20;
    position: relative;
  }
  .checkbtn {
    display: block;
  }
  nav ul {
    position: relative;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgb(35, 35, 35);
    top: 75px;
    left: -100%;
    text-align: center;
    transition: 0.5s ease;
  }
  nav ul li {
    position: relative;
    display: block;
    margin: 60px 0px;
    line-height: 50px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  footer {
    display: none;
  }
}
