@import url('http://fonts.cdnfonts.com/css/myriad-apple');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body, p {
    margin: 0;
    padding: 0;
    font-family: 'Myriad Apple', sans-serif;
    background: rgb(117, 117, 117);
}

h1 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

#content {
    margin: 50px;
}

.errorlist {
    color: orange;
}
