{% extends "base.html" %}
{% load static %}
{% block title %}َWelcome - Eduzec{% endblock %}

{% block content %}
    <div class="py-3 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="{% static "images/edulogo.png" %}" alt="Eduzec logo" width="150" height="150">
        <!-- Top hero "Welcome to Eduzec" -->
        <h1 class="display-5 fw-bold mb-3"><b>Welcome to Eduzec</b></h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Eduzec is a modern teaching platform that will help you learn
                new stuff and lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 mr-2">Ask a question</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Learn more</button>
            </div>
        </div>

        <div class="hero-divider mt-5"></div>

        <!-- Second hero "Learn like a Pro" -->
        <div class="container col-xxl-8 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="{% static "images/bootstrap-themes.png" %}" class="d-block mx-lg-auto img-fluid"
                         alt="Bootstrap Themes"
                         width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3 text-right">Learn like a Pro</h1>
                    <p class="lead text-right">Our community consist of consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                        sed diam voluptua. At vero eos et accusam et justo duo o sea tadolores et ea rebum.
                        Stet clita kasd gubergren, nkimata es urbem statunt.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 mr-2">Find an expert</button>
                        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Become a helper</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-divider mt-5"></div>

        <!-- Third hero "Find your community" -->
        <div class="px-4 pt-5 my-5 text-center border-bottom">
            <h1 class="display-5 fw-bold mb-3 ">Find your community</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Eduzec has a group for everyone - check out all the groups in our community and
                    join the one that suits you the most lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">See all groups</button>
                </div>
            </div>
            <div class="overflow-hidden" style="max-height: 30vh;">
                <div class="container px-5">
                    <img src="{% static "images/bootstrap-docs.png" %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image"
                         width="700" height="500" loading="lazy">
                </div>
            </div>
        </div>
    </div>
{% endblock %}