{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
    Detail Page
{% endblock %}

{% block static %}
    <script src="{% static 'js/detail.js' %}"></script>
    <script>var csrf_token = '{{ csrf_token }}';</script>
{% endblock %}

{% block extra_nav %}
    {% include 'includes/question_extra_nav.html' %}
{% endblock %}

{% block content %}
<!-- Question mmmm lol-->
<div class='container'>
    <h2 class='my-4'>{{quest.title}}</h2>
    <p>
        <span class='mr-2'>{{quest.add_time|date:'d/m/y'}}</span>
        <text>by</text>
        <a href='#' class='ml-2'>{{quest.user}}</a>
        <span>{{ num_answers }} answers</span>
    </p>
    <p>
        tags:
        {% for tags in tags %}
        <a href='#' class='badge badge-secondary p-1'>{{tags}}</a>
        {% endfor %}
    </p>
    <hr/>
    <div class='row'>
        {% include 'includes/voting.html' with vote_to='question' id=quest.id vote_count=quest.votes.count %}
        <div class='col-11'>
            <p class='mt-3'>
                {{quest.detail}}
            </p>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="row write-answer">
        <div class="col-1"></div>
        <div class="col-11">
        <!-- Answer Section Form -->
            <div class='card'>
                <h6 class='card-header'>Answer</h6>
                <div class='card-body' text_type="answer">
                    <textarea class='form-control save-text'></textarea>
                     <button type='button' data-id='{{quest.id}}' class='btn btn-dark my-3 save-text-btn' user="{{ request.user }}">Answer</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% for answer, comments in answers_comments %}
    <div class="row">
        {% include 'includes/voting.html' with vote_to='answer' id=answer.id vote_count=answer.votes.count %}
        <div class='col-11'>
            <p class='mt-1'>
                {{answer.detail}}
            </p>
            <hr/>
            <p>
                <span class='mr-2'>{{answer.add_time|date:'d/m/y'}}</span>
                <text>by</text>
                <a href='#' class='mr-2'>{{ answer.user }}</a>
                <span>{{ comments|length }} comments</span>
            </p>
            {% if user.is_authenticated %}
            <!-- Comment Section Form -->
            <div class='card'>
                <h6 class='card-header'>Comment</h6>
                <div class='card-body' text_type="comment">
                    <textarea class='form-control save-text'></textarea>
                    <button type='button' data-id='{{answer.id}}' class='btn btn-dark my-3 save-text-btn' user="{{ request.user }}">Comment</button>
                </div>
            </div>
            {% endif %}
            <!--Comment Section Start-->
            <div class='comment-wrapper' id="{{ answer.id }}">
                {% for comment in comments %}
                <div class='card'>
                    <div class='card-body'>
                        <p><a href='#'>{{ comment.user }}</a><text> - </text>{{ comment.comment }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% empty %}
        <div class="col-1"></div>
        <div class="col-11">
            <p>There are no answers yet.</p>
        </div>
    {% endfor %}
</div>
{% endblock %}