{% extends "base.html" %}
{% load static %}
{% block title %}َWelcome - Eduzec{% endblock %}

{% block content %}
<header>
    <img class="logo" src="{% static "images/logo.png" %}" alt="Eduzec Logo">
    <nav>
        <ul>
            <li><a href="{% url "app:dashboard" %}">Home</a></li>
            <li><a href="{% url "app:register" %}">Register</a></li>
            <li><a href="{% url "app:login" %}">Login</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>
{% endblock %}