<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id="content" >
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message.message|safe }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>