{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home Page
{% endblock %}

{% block extra_nav %}
    {% include 'forum/includes/question_extra_nav.html' %}
{% endblock %}

{% block content %}
  <!-- Question List -->
  <div class='container'>
    {% for quest in quests %}
      <div class='card'>
          <div class='card-body'>
              <h5 class='card-title'><a href="{% url 'forum:detail' quest.id %}">{{quest.title}}</a></h5>
              <p>
                  <a href='#' class='mr-2'>{{ quest.user }}</a>
                  <a href='#' class='mr-2'>{{ quest.count_of_answers }} answers</a>
                  <a href='#' class='mr-2'>{{ quest.votes.count }} upvotes</a>
              </p>
          </div>
      </div>
    {% endfor %}
  </div>
  {% include 'forum/includes/pagination.html' with page_obj=page_obj %}
{% endblock %}